<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">PlatziSquare!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" *ngIf="!loggedIn">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/registro">Registro</a>
          </li>
        </ul>
    </div>
    <div class="form-inline my-2 my-lg-0" *ngIf="loggedIn">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item nav-link" *ngIf="loggeduser"> Bienvenido: {{loggeduser}}</li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
<br>
<spinner></spinner>
<toaster-container></toaster-container>
<router-outlet></router-outlet>
<!-- <ul class="list-group">
  <ng-container *ngFor="let lugar of lugares, let i = index" [ngSwitch]="lugar.cercania">
    <a ><li  class="list-group-item" contar-clicks [ngStyle]="{color:(lugar.active)? 'black': 'gray'}" [ngClass]="{numero_par: (i+1)%2 !== 0}" [resaltar]="lugar.plan">
      {{lugar.nombre}} -
      <span *ngSwitchCase = "1" [ngStyle]="{color: 'green'}"> Muy cercano </span>
      <span *ngSwitchCase = "2" [ngStyle]="{color: 'black'}"> Cercano </span>
      <span *ngSwitchCase = "3" [ngStyle]="{color: 'red'}"> Lejano </span>
    </li></a>
  </ng-container>
</ul> -->

